@font-face {
  font-family: 'gothamBook';
  src: "../fonts/gothamRoundedBook.otf" format("opentype"); }
@font-face {
  font-family: 'gothamMedium';
  src: "..fonts/gothamRoundedMedium.otf" format("opentype"); }
html,
body {
  width: 100%;
  height: 100%;
  font-family: gothamMedium; }

.gothamBook {
  font-family: gothamBook; }

.gothamMedium {
  font-family: gothamMedium; }

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.text-vertical-center h1 {
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: 700; }

/* Custom Button Styles */
.butt {
  border-radius: 1rem;
  border: none;
  border-bottom: 2px solid #309383; }

.btnIgnite {
  border-radius: 0;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff; }

.white {
  color: #fff; }

.bg-primary {
  background-color: #3dc9b3; }

.text-primary {
  color: #3dc9b3; }

.btn-dark {
  border-radius: 1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4); }

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7); }

.btn-light {
  border-radius: 1rem;
  color: #333;
  background-color: white; }

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  color: #333;
  background-color: rgba(255, 255, 255, 0.8); }

/* Custom Horizontal Rule */
hr.small {
  max-width: 100px; }

/* Side Menu */
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 0;
  width: 250px;
  height: 100%;
  transform: translateX(250px);
  overflow-y: auto;
  background: #222;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 55px;
  font-size: 18px;
  line-height: 55px; }

.sidebar-nav > .sidebar-brand a {
  color: #999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

#menu-toggle {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0; }

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

.toggle {
  margin: 5px 5px 0 0; }

/* Header */
.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

/* About */
.about {
  padding: 50px 0; }

/* Services */
.services {
  padding: 50px 0; }

.service-item {
  margin-bottom: 30px; }

/* Callout */
.callout {
  display: table;
  width: 100%;
  min-height: 300px;
  color: #fff;
  background: url(../img/callout.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.iphone {
  min-height: 400px;
  display: table;
  width: 100%;
  background: url(../img/iphone.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.white-behind {
  height: 100%;
  min-height: 400px;
  width: 50%;
  float: right;
  background-color: #fff; }

.text-shadow {
  text-shadow: -1px 0 1px #fff, 0 1px 1px #fff, 1px 0 1px #fff, 0 -1px 1px #fff; }

/* Portfolio */
.portfolio {
  padding: 50px 0; }

.portfolio-item {
  margin-bottom: 30px; }

.img-portfolio {
  margin: 0 auto; }

.img-portfolio:hover {
  opacity: 0.8; }

/* Call to Action */
.call-to-action {
  padding: 50px 0; }

.call-to-action .btn {
  margin: 10px; }

.ignite {
  background-color: #242830; }

/* Team */
.img-team {
  margin: 0 auto;
  margin-bottom: 30px; }

.team-item {
  margin-bottom: 30px; }

.social {
  color: #242830; }

.social:hover {
  color: #3dc9b3; }

/* Subscribe */
.subscribe {
  display: table;
  width: 100%;
  min-height: 20rem;
  background: url(../img/subscribe.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.subscribe-item {
  margin-bottom: 2rem; }

/* Contact */
.contact {
  display: table;
  width: 100%;
  min-height: 40rem;
  background: url(../img/contact.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.contact-item {
  padding-top: 3rem;
  margin-bottom: 2rem;
  background-color: #fff;
  min-height: 15rem; }

/* Footer */
footer {
  padding: 30px 0;
  background-color: #242830; }

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px; }

/*# sourceMappingURL=style.css.map */
